# Q1.List Comprehensions
### Input Format:
- Four integers  and , each on a separate line.
### Constraints:
- Print the list in lexicographic increasing order.

In [2]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())


li=[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) ]

l=[]
for i in li:
    s=sum(i)    
    if s!=n:
        l.append(i)

print(l)

 3
 3
 3
 3

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 3], [0, 2, 0], [0, 2, 2], [0, 2, 3], [0, 3, 1], [0, 3, 2], [0, 3, 3], [1, 0, 0], [1, 0, 1], [1, 0, 3], [1, 1, 0], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 0], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 0, 0], [2, 0, 2], [2, 0, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 0], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 0], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 0, 1], [3, 0, 2], [3, 0, 3], [3, 1, 0], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 0], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 0], [3, 3, 1], [3, 3, 2], [3, 3, 3]]

# Q2.Find the Runner-Up Score!
### Input Format:
- The first line contains n. The second line contains an array   A[] of n integers each separated by a space.

### Constraints:
- 2 < =n <=100
### Output Format:
- Print the runner-up score.

In [3]:
n = int(input())
arr = map(int, input().split())
arr=sorted(arr)
maxel=arr[len(arr)-1]
for i in range(len(arr)-1,-1,-1):
    if arr[i]!=maxel:
        print(arr[i])
        break

 5
 2 3 6 6 5

5

# Q3.Nested Lists
### Input Format:

- The first line contains an integer, , the number of students.
- The  subsequent lines describe each student over  lines.
    - The first line contains a student's name.
    - The second line contains their grade.

### Constraints:

- There will always be one or more students having the second lowest grade.

### Output Format:

- Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

In [4]:
records=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    subarray=[name,score]
    records.append(subarray)
        
records.sort(key=lambda x: x[1])
minimumgrade=records[0][1]
new_records=[]
for i in records:
    if minimumgrade!=i[1]:
        new_records.append(i)
names=[]
minimumgrade=new_records[0][1]
for i in records:
    if minimumgrade==i[1]:
        names.append(i[0])
    
names.sort()
for i in names:
    print(i)

 3
 HArry
 28.11
 barry
 39.11
 tarry
 10.11

HArry

# Q4.Finding the percentage
### Input Format:
- The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

### Constraints:
- 2<=n <=10

### Output Format:
- Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

In [6]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
for key in student_marks:
    if key==query_name:
        avg=sum(student_marks[key])/len(student_marks[key])
        print("%.2f"%avg)

 3
 A 78 89 55
 B 45 65 33
 C 52 66 95
 B

47.67

# Q5.Lists
### Input Format:
- The first line contains an integer,n , denoting the number of commands.
- Each line i of the n subsequent lines contains one of the commands described above.

### Constraints:
- The elements added to the list must be integers.

### Output Format:
- For each command of type print, print the list on a new line.

In [7]:
N = int(input())
arr=[]
for i in range(N):
    li=input().split()
    if li[0]=='append':
        arr.append(int(li[1]))
    elif li[0]=='insert':
        arr.insert(int(li[1]),int(li[2]))
    elif li[0]=='print':
        print(arr)
    elif li[0]=='remove':
        arr.remove(int(li[1]))
    elif li[0]=='sort':
        arr.sort()
    elif li[0]=='pop':
        arr.pop()
    elif li[0]=='reverse':
        arr.reverse()

 5
 insert 0 5
 print

[5]

 insert 1 10
 insert 0 6
 print

[6, 5, 10]

# Q6. Tuples
### Input Format:
- The first line contains an integer, n, denoting the number of elements in the tuple.
- The second line contains n space-separated integers describing the elements in tuple t.

### Output Format:
- Print the result of hash(t).

In [8]:
n = int(input())
integer_list = tuple(map(int, input().split()))
print(hash(integer_list))

 3
 5 6 4

6326717749412182451

# Q7.Introduction to Sets
### Function Description:
- Complete the average function in the editor below.
- average has the following parameters:
    - int arr: an array of integers
    
### Returns:
- float: the resulting float value rounded to 3 places after the decimal

### Input Format:
- The first line contains the integer, N, the size of arr.
- The second line contains the N space-separated integers,arr[i] .

In [10]:
def average(array):
    arrayset=set(array)
    return sum(arrayset)/len(arrayset)

N=int(input())
average(list(map(int,input().split())))

 5
 10 56 23 11 48

29.6

# Q8.No Idea!
### Constraints
- 1<= n <= 10^5
- 1<= m <= 10 ^5
- 1 <= any integer in the input <= 10 ^9

### Input Format:
- The first line contains integers n and m separated by a space.
- The second line contains n integers, the elements of the array.
- The third and fourth lines contain m integers, A and B, respectively.

### Output Format:
- Output a single integer, your total happiness.

In [11]:
n,m=list(map(int,input().split()))
arr=list(map(int,input().split()))

A=set(map(int,input().split()))
B=set(map(int,input().split()))

happiness=0
for i in arr:
    if i in A:
        happiness+=1
    if i in B:
        happiness-=1

print(happiness)

 3 2
 1 5 3
 3 1
 5 7

1

# Q9.Symmetric Difference
### Task:
- Given 3 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

### Input Format:
- The first line of input contains an integer, M.
- The second line contains M space-separated integers.
- The third line contains an integer,N .
- The fourth line contains N space-separated integers.

### Output Format:
- Output the symmetric difference integers in ascending order, one per line.

In [12]:
m=int(input())
A=set(map(int,input().split()))
n=int(input())
B=set(map(int,input().split()))
result=A.union(B).difference(A.intersection(B))
li=sorted(list(result))
for i in li:
    print(i)

 4
 2 4 5 9
 4
 2 4 11 12

5
9
11
12

# Q10.Set .add()
### Task:
- Apply your knowledge of the .add() operation to help your friend Rupal.
- Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of  country stamps.
- Find the total number of distinct country stamps.

### Input Format:

- The first line contains an integer N, the total number of country stamps.
- The next N lines contains the name of the country where the stamp is from.

### Constraints:
- 0 < N < 1000

### Output Format:
- Output the total number of distinct country stamps on a single line.

In [13]:
n=int(input())
countrystamps=set()
for i in range(n):
    countrystamps.add(input())
print(len(countrystamps))

 5
 UK
 China
 USA
 UK
 New Zealand

4

# Q11.Set .discard(), .remove() & .pop()
### Task:
- You have a non-empty set , and you have to execute N commands given in N lines.
- The commands will be pop, remove and discard.

### Input Format:
- The first line contains integer n, the number of elements in the set s.
- The second line contains n space separated elements of set s. All of the elements are non-negative integers, less than or equal to 9.
- The third line contains integer N, the number of commands.
- The next N lines contains either pop, remove and/or discard commands followed by their associated value.

### Constraints:
- 0 n < 20
- 0 < N < 20

### Output Format:
- Print the sum of the elements of set s on a single line.

In [14]:
n = int(input())
s = set(map(int, input().split()))

m=int(input())
for i in range(m):
    li=input().split()
    if li[0]=='pop':
        s.pop()
    if li[0]=='remove':
        s.remove(int(li[1]))
    if li[0]=='discard':
        s.discard(int(li[1]))

print(sum(s))

 9
 1 2 3 4 5 6 8 9 7
 5
 pop
 remove 9
 discard 8
 pop
 remove 5

20

# Q12.Set .union() Operation
### Task:
- The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

### Input Format:
- The first line contains an integer, n, the number of students who have subscribed to the English newspaper.
- The second line contains n space separated roll numbers of those students.
- The third line contains b, the number of students who have subscribed to the French newspaper.
- The fourth line contains b space separated roll numbers of those students.

### Constraints:
- 0 < Total number of Student in college < 1000

### Output Format:
- Output the total number of students who have at least one subscription.

In [15]:
n=int(input())
eng=set(map(int,input().split()))
b=int(input())
french=set(map(int,input().split()))
result=eng | french
print(len(result))

 5
 1 2 5 6 8
 4
 10 45 66 2

8

# Q13.Set .intersection() Operation
### Task:
- The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

### Input Format:
- The first line contains n, the number of students who have subscribed to the English newspaper.
- The second line contains n space separated roll numbers of those students.
- The third line contains b, the number of students who have subscribed to the French newspaper.
- The fourth line contains b space separated roll numbers of those students.

### Constraints:
- 0 < Total number of students in college < 1000

### Output Format:
- Output the total number of students who have subscriptions to both English and French newspapers.

In [16]:
n=int(input())
eng=set(map(int,input().split()))
b=int(input())
french=set(map(int,input().split()))
print(len(eng & french))

 9
 1 2 3 4 5 6 7 8 9
 9
 10 1 2 3 11 21 55 6 8

5

# Q14.Set .difference() Operation
### Task:
- Students of District College have a subscription to English and French newspapers. Some students have subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

### Input Format:
- The first line contains the number of students who have subscribed to the English newspaper.
- The second line contains the space separated list of student roll numbers who have subscribed to the English newspaper.
- The third line contains the number of students who have subscribed to the French newspaper.
- The fourth line contains the space separated list of student roll numbers who have subscribed to the French newspaper.

### Constraints:
- 0 < Total number of Students in college < 1000

### Output Format:
- Output the total number of students who are subscribed to the English newspaper only.

In [18]:
n=int(input())
eng=set(map(int,input().split()))
b=int(input())
french=set(map(int,input().split()))
print(len(eng-french))

 9
 1 2 3 4 5 6 7 8 9
 9
 10 1 2 3 11 21 55 6 8

4

# Q15.Set .symmetric_difference() Operation
### Task:
- Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.
- You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

### Input Format:
- The first line contains the number of students who have subscribed to the English newspaper.
- The second line contains the space separated list of student roll numbers who have subscribed to the English newspaper.
- The third line contains the number of students who have subscribed to the French newspaper.
- The fourth line contains the space separated list of student roll numbers who have subscribed to the French newspaper.

### Constraints:
- 0 < Total number of students in college < 1000

### Output Format:
- Output total number of students who have subscriptions to the English or the French newspaper but not both.

In [19]:
n=int(input())
eng=set(map(int,input().split()))
b=int(input())
french=set(map(int,input().split()))
print(len(eng^french))

 9
 1 2 3 4 5 6 7 8 9
 9
 10 1 2 3 11 21 55 6 8

8

# Q16.Set Mutations
### TASK:
- You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A.
- Your task is to execute those operations and print the sum of elements from set .

### Input Format:
- The first line contains the number of elements in set .
- The second line contains the space separated list of elements in set .
- The third line contains integer , the number of other sets.
- The next  lines are divided into  parts containing two lines each.
- The first line of each part contains the space separated entries of the operation name and the length of the other set.
- The second line of each part contains space separated list of elements in the other set.
- 0 <  len(set(A)) < 1000
- 0 < len(otherSets) < 100
- 0 < N < 100

### Output Format:
- Output the sum of elements in set A.

In [20]:
n=int(input())
A=set(map(int,input().split()))
No=int(input())
for i in range(No):
    li=input().split()
    if li[0]=='intersection_update':
        temp=set(map(int,input().split()))
        A.intersection_update(temp)
    if li[0]=='update':
        temp=set(map(int,input().split()))
        A.update(temp)
    if li[0]=='symmetric_difference_update':
        temp=set(map(int,input().split()))
        A.symmetric_difference_update(temp)
    if li[0]=='difference_update':
        temp=set(map(int,input().split()))
        A.difference_update(temp)
        
print(sum(A))

 16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
 2
 intersection_update 18
 2 3 5 6 8 9 1 4 7 11
 update 2
 55 66

177

# Q17.The Captain's Room
Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:

→ A Captain.

→ An unknown group of families consisting of k members per group where  k≠ 1.

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear k times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of k and the room number list.
### Input Format:
- The first line consists of an integer, K, the size of each group.
- The second line contains the unordered elements of the room number list.

### Constraints:
- 1 < k < 1000

### Output Format:
- Output the Captain's room number.

In [21]:
k=int(input())
arr=list(map(int,input().split()))
uniarr=set(arr)
firstatr=sum(uniarr) * k
secondarr=sum(arr)
print((firstatr-secondarr)//(k-1))

 5
 1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

8

# Q18.Check Subset
- You are given two sets,  and .
- Your job is to find whether set  is a subset of set .
- If set  is subset of set , print True.
- If set  is not a subset of set , print False.

### Input Format:

- The first line will contain the number of test cases, .
- The first line of each test case contains the number of elements in set .
- The second line of each test case contains the space separated elements of set .
- The third line of each test case contains the number of elements in set .
- The fourth line of each test case contains the space separated elements of set .

### Constraints:
- 0 < T < 21
- 0 > Number of Elements in each set < 1001

### Output Format:
- Output True or False for each test case on separate lines.

In [23]:
for _ in range(int(input())):
    nA=int(input())
    A=set(map(int,input().split()))
    nB=int(input())    
    B=set(map(int,input().split()))
    if A.issubset(B):
        print(True)
    else:
        print(False)

 3
 5
 1 2 3 5 6
 9
 9 8 5 6 3 2 1 4 7

True

 1
 2
 5
 3 6 5 4 1

False

 7
 1 2 3 5 6 8 9
 3
 9 8 2

False

# Q19.Check Strict Superset
- You are given a set A and n other sets.
- Your job is to find whether set A is a strict superset of each of the N sets.
- Print True, if A is a strict superset of each of the N sets. Otherwise, print False.
- A strict superset has at least one element that does not exist in its subset.

### Input Format:
- The first line contains the space separated elements of set A.
- The second line contains integer , the number of other sets.
- The next  lines contains the space separated elements of the other sets.

### Constraints:
- 0 < len(set(A)) < 501
- 0 < N <21
- 0 < len(othersets) < 101

### Output Format
- Print True if set  is a strict superset of all other  sets. Otherwise, print False.

In [24]:
A=set(map(int,input().split()))
flag=0
for _ in range(int(input())):
    temp=set(map(int,input().split()))
    if A.issuperset(temp) ==False:
        flag=1
if flag==1:
    print(False)
else:
    print(True)

 1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
 2
 1 2 3 4 5
 100 11 12

False